#logo img{
    float: right;  
    width: 100%;
    height: auto;
    margin-right: 10%;
    margin-top: 2%;
}
#DH{
  margin-left : 2em;
    text-align: center;
    font-size:35px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-items: center;
    font-weight: bold;
} 
/* taille hauteur*/
.col-sm-4{
    height: 100%;
    width: 30%;
    align-items: center;
    margin-left: 30px;
    background-color: #e6e7e5;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color : black;
}

#time{
  height: 100%;
  width: 3%;
  text-align: center;
  font-size: 40px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #00aac7;/*92b4d2 */
}

.col-sm-12.nomSalle{
  text-align: center; 
  font-size: 40px;
  background-color: #3ebdd4; /*#92b4d2*/
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}