#logo img{
    float: right;  
    width: 100%;
    height: auto;
    margin-right: 10%;
    margin-top: 2%;
}
/*Date et Heure*/
#DH{
  margin-left : 2em;
    text-align: center;
    font-size:35px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    align-items: center;
    font-weight: bold;
} 
/* taille hauteur*/
.col-sm-4{
    height: 100%;
    width: 30%;
    align-items: center;
    margin-left: 30px;
    
    background-color:  white;
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-family: "Fira Sans", Arial, sans-serif;
    color : black;
    border: solid 1px gray;
}

#time{
  height: 100%;
  width: 3%;
  text-align: center;
  font-size: 40px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #468cb5;
  /*color: #9dadbd6e*/
}

/*Entête : nom des salles*/
.col-sm-12.nomSalle{
  text-align: center; 
  font-size: 40px;
  color : white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: "Fira Sans", Arial, sans-serif;
  background-color: #034f70;
}